@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

#app {
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 1rem;
}

form {
  color: whitesmoke;
}

input[type="text"] {
  background: whitesmoke;
  color: #242424;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  background: whitesmoke;
  color: #242424;
  padding: 5px;
  border: none;
  border-radius: 5px;
}